/*Anchors for works page*/

h1 {
    text-transform: uppercase;
}

.workbox {
    display: none;
    padding-top: 1em;
}

html {
    z-index: -999999;
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
}

scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: transparent;
}

.headertext {
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
    line-height: 1.2em;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: azure;
    transition: 0.5s;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.tagbox {
    font-size: small;
    color: #626262;
    display: inline;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: #151515;
    overflow: scroll;
    position: relative;
    float: left;
    padding: auto;
    margin-top: 50px;
    z-index: 100;
    line-height: 15px;
    text-align: left;
}


/* Style the links inside the navigation bar */

.navbar {
    background-color: black;
    position: absolute;
    width: 100%;
    float: left;
    visibility: hidden;
}

p {
    margin-top: 1.5rem;
    font-size: calc(1em + 1vw);
}

.sidebar a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    padding: 15px 40px;
    color: rgba(255, 255, 255, 1);
}

#goFullScreen {
    position: fixed;
    left: 95%;
    width: auto;
    top: 0%;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    font-size: 1.3em;
    display: block;
    background: black;
    color: rgba(255, 255, 255, 1);
    opacity: 0.4;
}

#goFullScreen:fullscreen {
    display: none;
}

#goFullScreen:hover {
    opacity: 1;
    transition: 1s;
    -webkit-filter: invert(1);
    filter: invert(1);
}


/* Change the color of links on hover */

.sidebar #navheading {
    background-color: transparent;
}

.sidebar #navheading a:hover {
    color: black;
    -webkit-transition: 1s;
}

.sidebar #navheading a {
    color: #e0e0e0;
}

.sidebar a:hover {
    background-color: #ddd;
    -webkit-transition: 0.1s;
    color: black;
}


/* Add a color to the active/current link */

.sidebar a.active {
    background-color: #626262;
    color: white;
}

#socials {
    background-color: inherit;
}

#socials:hover {
    background-color: #8e8e8e;
}

@media only screen and (min-width: 600px) {
    .headbox {
        position: relative;
        width: 75%;
        height: auto;
        left: 200px;
        background-color: #151515;
        margin: 50px 3%;
        padding: 20px 50px 50px 50px;
        max-height: 1000px;
        overflow: scroll;
    }
}

.headbox {
    position: absolute;
    width: 75%;
    top: 0%;
    height: auto;
    left: 200px;
    background-color: #151515;
    margin: 50px 3%;
    padding: 20px 50px 50px 50px;
    max-height: 1000px;
    overflow: scroll;
}

.textbox {
    padding: 0;
    margin: 0 auto;
    background-color: #151515;
}

.audioplayer {
    margin: 0 auto;
    width: 450px;
    content: close-quote;
}

ul li {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0px 10px 0px 0px;
    border: 0;
}

ul {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    list-style-type: none;
}

audio {
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    position: relative;
    font-size: normal;
    line-height: 1.7;
    align-content: center;
    color: #fff;
    padding-bottom: 20px;
    overflow-anchor: [auto | none];
}

code {
    color: rgb(220, 220, 220);
    background: rgb(41, 41, 41);
    /* declarations here */
}

pre code {
    color: rgb(220, 220, 220);
    background: rgb(41, 41, 41);
    /* declarations here */
}

p {
    font-size: 1.3em;
    line-height: 1.7;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
    padding: 20px 0 0px 0;
}

h3 {
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
    font-style: normal;
    display: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 10px 0 10px 0;
}


/*Contact forms*/

input[type=text],
select,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 0px solid #ccc;
    /* Gray border */
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 0px;
    /* Add a top margin */
    margin-bottom: 0px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email],
select,
textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 0px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
    /* Gray border */
    /* Rounded borders */
}

#messagebox {
    height: 200px;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9f9f9f;
}

.contact {
    border-radius: 0px;
    width: 100%;
}

.contact div {
    border-radius: 0px;
    color: white;
    padding: 0px 0px 15px;
}

.contact textarea {
    width: 100%;
}

#canvas {
    transform: scale(1.03);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
}

#topnav {
    text-align: left;
    font-size: 1em;
}

#topnav:fullscreen {
    position: fixed;
    text-align: center;
    float: top;
    text-size: 1em;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

#topnav a {
    color: #c7c7c7;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
}

.copyright {
    position: fixed;
    left: 0;
    font-size: xx-small;
    bottom: 0;
    width: auto;
    background-color: black;
    opacity: 0.1;
    color: rgb(150, 150, 150);
}

.copyright:hover {
    opacity: 1;
    transition: 1s;
}

.copyright:p {
    text-align: left !important;
}

#topnav a:hover {
    color: #fafafa;
    display: inline;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Desktop site settings*/

@media (min-width: 2000px) and (max-width: 4000px) {
    .headbox {
        width: 80%;
        max-height: 1400px;
    }
    .textbox {
        margin-left: 12rem;
        margin-right: 12rem;
    }
    .headertext {
        margin-left: 12rem;
    }
    #topnav {
        margin-left: 12rem;
        margin-right: 12rem;
    }
}


/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 220px) and (max-width: 600px) {
    .copyright {
        display: none;
        left: 0;
        font-size: xx-small;
        bottom: 0;
        width: auto;
        background-color: black;
        opacity: 0.1;
        color: rgb(150, 150, 150);
    }
    .navbar {
        position: absolute;
        visibility: visible;
        z-index: 100;
    }
    .nav {
        position: fixed;
    }
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        visibility: hidden;
        text-align: center;
    }
    .sidebar {
        visibility: hidden;
    }
    #socials {
        visibility: hidden;
    }
    .headertext {
        text-transform: uppercase;
    }
    /* Style the links inside the navigation bar */
    .sidebar {
        padding: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        visibility: hidden;
    }
    .sidebar a {
        visibility: hidden;
    }
    .sidebar a:hover,
    .sidebar a:active {}
    /* Add a color to the active/current link */
    .sidebar a.active {
        visibility: visible;
        opacity: 1;
        visibility: hidden;
    }
    .sidebar a.inactive {
        visibility: hidden;
        visibility: collapse text-align: center;
    }
    .headbox {
        width: 100%;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 70px;
        margin: 0 auto;
        padding: 20px;
    }
    .headertext {
        text-transform: uppercase;
        text-align: center;
    }
    .navbar {
        font-size: 1.5em;
    }
    #nav-con {
        font-size: 2em;
    }
    #topnav {
        font-size: 1em;
        line-height: 2em;
    }
    .textbox {
        width: 100%;
        text-align: left;
        padding: 0px;
        background-color: #151515;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .navbar {
        visibility: visible;
        background-color: black;
        position: absolute;
        top: 0$;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
        float: left;
    }
}

#nav-icon {
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}