<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Liam Power</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href={{ "index.html" | relative_url}}> Home</a></li>
            <li>
                <a class="nav-link" href{{ "works.html" | relative_url}}> Works</a>
            </li>
            <li>
                <a class="nav-link" href={{ "writing.html" | relative_url}}> Writing</a>

            </li>
            <li>
                <a class="nav-link" href={{ "services.html" | relative_url}}> Services</a>
            </li>

            <li>
                <!-- <a class="nav-link" href={{ "blog.html" | relative_url}}>Blog</a> -->
            </li>
            <li>
                <a class="nav-link" href={{ "contact.html" | relative_url}}>Contact</a>
            </li>
            <li>
                <a href="https://vimeo.com/liamfpower" target="_blank">
                    <i id="nav-icon" class="fab fa-vimeo" aria-hidden="true"></i>
                </a>
                <a href="https://soundcloud.com/verylowfrequency" target="_blank">
                    <i id="nav-icon" class="fab fa-soundcloud"></i>
                </a>
                <a href="https://verylowfrequency.bandcamp.com/album/vlf-2" target="_blank">
                    <i id="nav-icon" class="fab fa-bandcamp"></i>
                </a>
                <a href="http://liamfpower.com/codesnippets/" target="blank" target="_blank"><i id="nav-icon"
                        class="fab fa-github-square "></i> </a>
                <a href="https://www.instagram.com/verylowfrequencies/" target="_blank"><i id="nav-icon"
                        class="fab fa-instagram"></i> </a>
            </li>
        </ul>
    </div>
</nav>

<div class="sidebar">
    <div id="navheading"><a href={{ "index.html" | relative_url}}>LIAM POWER</a></div>
    <a class="inactive" href={{ "index.html" | relative_url}}> Home</a>
    <a class="inactive" href={{ "works.html" | relative_url }}> Works</a>
    <a class="inactive" href={{ "writing.html" | relative_url}}> Writing</a>
    <a class="inactive" href={{ "services.html" | relative_url}}> Services</a>
    <!-- <a class="inactive" href={{ "blog.html" | relative_url}}> Blog</a> -->



    <a class="inactive" href={{ "contact.html" | relative_url}}>Contact</a>
    <a id="socials" href="https://vimeo.com/liamfpower" target="_blank">
        <i class="fab fa-vimeo" aria-hidden="true"></i> Video
    </a>
    <a id="socials" href="https://www.instagram.com/verylowfrequencies/" target="_blank"><i
            class="fab fa-instagram"></i> Images</a>
    <a id="socials" href="https://soundcloud.com/verylowfrequency" target="_blank"><i class="fab fa-soundcloud"></i>
        Sounds</a>
    <a id="socials" href="https://verylowfrequency.bandcamp.com/album/vlf-2" target="_blank"> <i class="fab fa-bandcamp"> </i> Bandcamp</a>
    <a id="socials" href="http://liamfpower.com/codesnippets/" target="blank" target="_blank"><i
            class="fab fa-github-square"></i> Code</a>


</div>