<!DOCTYPE HTML> {% include head.html %}

<body>

    <div id="navbox"> {% include navbar.html %}</div>

    <div class="headbox">
        <div class="headertext">
            <div class="headertext">
                <a href={{ "blog" | relative_url }}>
                    <h1> BLOG</h1>
                </a>
            </div>
        </div>

        <div id="topnav">
            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>



        <div class="textbox" markdown="1">
            <br>
            <h2>
                {{ page.title }}
            </h2>

            <h4>{{ page.date | date: '%B %d, %Y'}}</h4>

            <p>{{ content}}</p>



        </div>
    </div>

    </div>

    {% include footer.html %}

</body>

</html>