<!DOCTYPE HTML> {% include head.html %}

<body>

    <div id="navbox"> {% include navbar.html %}</div>

    <div class="headbox">
        <div class="headertext">
            <h1> WORKS</h1>
        </div>

        <div id="topnav">
            <ul>
                {% assign sorted = site.portfolio | sort:"year" | reverse %} {% for item in sorted %}
                <li> <a class="anchorLink" href="#{{item.div-id}}">{{item.title}} </a> </li> {% endfor %}
            </ul>
        </div>
        {% for portfolio in site.portfolio %}

        <div class="workbox" id="{{portfolio.div-id}}">
            <div class="textbox" markdown="1">

                <h2>
                    {{ portfolio.title }}
                </h2>
                {{portfolio.description}} <br><br> {{ portfolio.content}}
            </div>
        </div>
        {% endfor %}

    </div>
    </div>








    <div class="copyright">
        <h3>Website by Liam Power &#169; 2019 -- hosted on GitHub <a href="https://github.com/burstMembrane/burstmembrane.github.io">here</a></h3>
    </div>

</body>

</html>